/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer .homeWrapper {
	padding-top: 100px;
}

.homeContainer {
	background-image: url('/imperium/img/backsplash.png');
}



.projectTitle {
	color: white;
}
