.parent {
	flex: 1;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.content {
	flex: 1;
	padding: 10px;
	border-right: solid lightgrey 1px;
	flex-basis: calc(65%);
}

.header {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 15px;
}

.sidebar {
	min-width: 250px;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebarItem {
	margin-bottom: 5px;
}

.actionsHeader {
	display: none;
}

@media only screen and (max-width: 767.98px) {
	.parent {
		flex-direction: column;
		height: auto;
	}
	.content {
		border-right: none;
		border-bottom: 1px solid lightgray;
		padding-bottom: 20px;
	}
	.sidebar {
		min-width: auto;
	}
	.actionsHeader {
		display: block;
		margin-bottom: 5px;
	}
}
