.parent {
	flex: 1;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.wrapper {
	flex: 1;
	flex-basis: calc(65%);
}

.content {
	margin: 0 0.8rem 0.8rem 0.8rem;
}

.contentFull {
	height: 100%;
	margin: 0 0;
}

.header {
	padding: 0.8rem 0.8rem 0 0.8rem;
	margin-bottom: 0.8rem;
}

.sidebar {
	min-width: 250px;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebarItem {
	margin-bottom: 5px;
}

.actionsHeader {
	display: none;
}

@media only screen and (max-width: 767.98px) {
	.parent {
		flex-direction: column;
		height: auto;
	}
	.wrapper {
		border-right: none;
		padding-bottom: 20px;
	}
	.sidebar {
		min-width: auto;
	}
	.actionsHeader {
		display: block;
		margin-bottom: 5px;
	}
}
