.parent {
	flex: 1;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.wrapper {
	flex: 1;
	flex-basis: calc(65%);
}

.content {
	margin: 0 0.8rem 0.8rem 0.8rem;
}

.contentFull {
	height: 100%;
	margin: 0 0;
}

.header {
	padding: 0.8rem 0.8rem 0 0.8rem;
	margin-bottom: 0.8rem;
}

.sidebar {
	min-width: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
}

.sidebarMobile {
	 min-width: 250px;
	 overflow-y: auto;
	 overflow-x: hidden;
	 padding: 10px;
 }

.sidebarButton {
	width: 20px;
	height: 100%;
	display: flex;
}

.sidebarContent {
	width: calc(100% - 30px);
	padding: 10px;
}

.sidebarItem {
	margin-bottom: 5px;
}

.actionsHeader {
	display: none;
}

@media print
{
	.noPrint, .noPrint *
	{
		display: none !important;
	}
}

@media only screen and (max-width: 768px) {
	.parent {
		flex-direction: column;
		height: auto;
	}
	.wrapper {
		border-right: none;
		padding-bottom: 20px;
	}
	.sidebar {
		min-width: auto;
	}
	.actionsHeader {
		display: block;
		margin-bottom: 5px;
	}
}
