.background {
	width: 100%;
	height: 80vh;
	max-width: 350px;
	max-height: 650px;
	min-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	border-radius: 6px;
	background-image: url('/static/assets/imperium/auth/signin.jpg');
	background-position: center top;
}

.fill {
	background: linear-gradient(rgba(47, 47, 47, 0.4), #2f2f2f);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.style {
	background: none;
	color: white;
	display: flex;
	flex-direction: column;
}
