/* Need to pass 100% height all the way down */
:global(#root) {
	height: 100%;
}
:global(#root) > div {
	height: 100%;
}

:global(#notificationSystem) {
	height: 100%;
}

:global(#modalSystem) {
	height: 100%;
}

:global(#coreRoutes) {
	height: 100%;
}

.parent {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
}

.wrapper {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0 !important;
}

.menu {
	flex-basis: 185px;
	flex-grow: 0;
	flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
	.menu {
		flex-basis: 50px;
	}
}

.menu > div {
	height: 100%;
}

.menu > div > div {
	height: 100%;
}

.content {
	flex: auto;
	align-content: flex-start;
}
