name: Release workflow
on:
  release:
    types:
      - created

jobs:
  deploy:
    name: Release
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node 14.14
        uses: actions/setup-node@v2-beta
        with:
          node-version: "14.14"
          registry-url: "https://registry.npmjs.org"

      - name: Restore lerna node_modules
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          yarn global add lerna
          yarn lerna bootstrap

      - name: Run build
        run: |
          yarn build

      - name: Run typescript
        run: |
          yarn ts

      - name: Publish release
        run: |
          yarn lerna publish patch -c --yes

      - name: Notify discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          bash ./tools/discordhook.sh
