name: Test Workflow
on:
  push:
    branches-ignore:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node 14.14
        uses: actions/setup-node@v2-beta
        with:
          node-version: "14.14"

      - name: node_modules cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-nm-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          yarn global add lerna
          yarn lerna bootstrap

      - name: Run linting
        run: |
          yarn lint

      - name: Run tests
        run: |
          yarn test

      - name: Run typescript
        run: |
          yarn ts

      - name: Run build
        run: |
          yarn build
